AUTH_SERVICE_URL=http://localhost:9100
ACCOUNT_SERVICE_URL=http://localhost:9000
STOCK_SCREENER_URL=http://localhost:8080
BOT_SERVICE_URL=http://localhost:8081
REPORTING_SERVICE_URL=http://localhost:8082
STORAGE_SERVICE_URL=http://localhost:8083
TEST_TIMEOUT_SECONDS=10
STORAGE_SERVICE_API_KEY=
